.container {
  width: 600px;
  height: 300px;
  background-color: antiquewhite;
  margin: 70px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
}
.container button {
  padding: 5px 15px;
  font-size: 1.5rem;
}

button:hover {
  cursor: pointer;
  background-color: blueviolet;
  color: azure;
}

.container > .step,
.count {
  margin-bottom: 20px;
}
